#ep-list{
	margin-left 			: 95px;
}

#bottom-menu h1{	
	width 					: 47%;
	float 					: left;	
	margin-left 			: 10px;
}

#master-container li{
	font-size 				: 1.5em;
	margin-left 			: 20px;
}

.bio{
	width 					: 90%;	
	margin 					: 0 auto;
	margin-top 				: 30px;		
}


#agenda{
	margin-top 				: 50px;		
	width 					: 60%;
	border 					: solid 1px transparent;
}

.local-agenda{
	background-color 		: #181818;
	color 					: #E1E1E1;
	height 					: 30px;
	font-family 			: Andada;
	font-size 				: 3vw;	
	transition 				: background-color 0.35s ease-in;
	transition 				: color 0.35s ease-in;
}

.local-agenda:hover{
	background-color 		: #E1E1E1;
	color 					:#181818;
}

.local-agenda:hover ~ .data-agenda{
	background-color 		: #E1E1E1;
}

.data-agenda{
	background-color 		: #C92D2D;
	color 					:#181818;
	height 					: 30px;
	font-family 			: Andada;
	font-size 				: 3vw;	
	transition 				: background-color 0.35s ease-in;
}

.data-agenda:hover{
	background-color 		: #E1E1E1;
}

.data-agenda:hover ~ .local-agenda{
	background-color 		: #E1E1E1;
	color 					: #181818;
}








