#ep-list{
	margin-left 			: 95px;
}

#bottom-menu h1{	
	width 					: 47%;
	float 					: left;	
	margin-left 			: 10px;
}

#master-container li{
	font-size 				: 1.5em;
	margin-left 			: 20px;
}

.bio{
	width: 90%;	
	margin: 0 auto;
	margin-top: 30px;		
}


p:first-letter { 
	color : #C92D2D; 
	font-size: 5vw;
}





