label{
	display 				: inline-block;	
	width 					: 11vw;
	margin-bottom 			: 15px;
	margin-right 			: 5px;
	margin-top 				: 0px;
	font-family 			: Andada;
	font-size 				: 2vw;	
	clear 					: left;
	text-align 				: right;	

	-webkit-padding-after: 10px;
    -webkit-padding-before: -10px;
    -webkit-padding-start: 10px;
    -webkit-padding-end: 10px;
}

input, textarea{
	display 				: inline-block;
	background-color 		: rgba(0,0,0,0.3);
	border 					: solid 1px #C92D2D;
	color 					: #C92D2D;		
	border-radius 			: 0px;
	height 					: 2.5vw;
	width 					:  25vw;
	margin-bottom 			: 15px;		
	font-family 			: Andada;
	font-size 				: 1.5vw;
	max-width 				: 45vw;
	min-width 				: 25vw;
	min-height 				: 2.5vw;	
	box-shadow 				: 0px 0px 5px #000;
}
	input:focus{
		outline 				: 0;
		box-shadow 				: 0px 0px 5px #C92D2D;
	}

	
textarea{
	height: 100px;
	vertical-align: top;

}
	textarea:focus{
		outline 				: 0;
		box-shadow 				: 0px 0px 5px #C92D2D;
	}

.button{
	font-size				: 2vw;
	font-family				: Andada;
	width 					: 10.5vw;
	height 					: 4.5vw; 	
	color 					: #181818;
	background-color 		: #C92D2D;
	margin-top 				: 2vw;
	box-shadow 				: 0px 0px 5px #000;
	border 					: solid 1px #181818;
	transition 				: 0.5s ease-in;
}

.button:hover{	
	color 					: #C92D2D;
	background-color 		: #181818;
	box-shadow 				: 0px 0px 5px #C92D2D;
	border-color 			: #C92D2D;

}


.form-text{
	font-size: 3vw;
	font-family: Andada;
	color: #E1E1E1;
	margin-bottom: 5vw;

}

#form-container{
	color 					: #E1E1E1;
	background-color 		: #181818;
	width 					: 70%;	
	padding	 				: 15px;	
	box-shadow 				: 0px 0px 5px #000;
}






