#master-container{	
	width: 95%;
	height: 100%;
	margin-left: 2.5%;
	position: relative;	
	background-color: red;	
}

#ep-list{
	margin-left: 95px;
}

#bottom-menu{
	background-color: blue;
	height: 60px;
	position: fixed;
	width: 100%;
	bottom: 0px;
	z-index: 1;
}
