<<<<<<< HEAD
=======
#master-container{	
	width 					: 95%;
	height 					: 100%;
	margin-left 			: 2.5%;
	position 				: relative;	
	background-color 		: red;	
}

>>>>>>> 196b2a60c8efceab70fea5686fecaf2c3c861923
#ep-list{
	margin-left 			: 95px;
}

<<<<<<< HEAD
#bottom-menu h1{	
	width 					: 47%;
	float 					: left;	
	margin-left 			: 10px;
}

#master-container li{
	font-size 				: 1.5em;
	margin-left 			: 20px;
}

=======
#bottom-menu{
	background-color 		: blue;
	height 					: 60px;
	position 				: fixed;
	width 					: 100%;
	bottom 					: 0px;
	z-index					: 1;
}

#menu{
	float 					:right;
	background-color 		: red;
	display 				: inline-block;
	list-style-type			: none;
	float 					: left;
	margin-left 			: 10px;
}

#menu-item{
	background-color 		: gray;
	display 				: inline-block;

}
>>>>>>> 196b2a60c8efceab70fea5686fecaf2c3c861923
