#content{
	text-align: center;
}

#content h1{	
	color: #E1E1E1;
	font-family: ArmaliteRifle;
	font-size: 16vw;
	text-shadow: 0.45vw 0.45vw #181818, 0.55vw 0.55vw #E1E1E1;
	font-weight: 500;
}

#content p{
	color: #E1E1E1;
	font-family: ArmaliteRifle;
	font-size: 4vw;
	margin-top: 50px;
	margin-bottom: 50px;

}

#content a{
	text-decoration: none;
	color: #181818;
	font-family: ArmaliteRifle;
	font-size: 5vw;	
	background-color: #E1E1E1;
	margin-right: 15px;	
}


