.button{
	text-decoration: none;
	color: #E1E1E1;
	font-family: ArmaliteRifle;
	font-size: 4vw;		
	background-color: #181818;
	border:solid 5px #151515;
	border-radius: 5px;
	margin-right: 15px;	
	padding: 6px;
	box-shadow: 0px 0px 5px #000;
	transition: background-color 0.7s ease-in;	
	transition: border-color 0.7s ease-in;	
}

	.button:hover{
		border-color: #C92D2D;
		box-shadow: 0px 0px 15px #C92D2D;
		background-color: #C92D2D;
		color: #181818;
	}


/*Inherited from main.css*/
#master-container{
	margin-bottom: 0px;
	height: auto;
}

/*Inherited from main.css*/
#content{
	text-align 		: center;
	margin-bottom 	: 0px;	
	height 			: auto;
}

	#content h1{	
		color: #E1E1E1;
		font-family: ArmaliteRifle;
		font-size: 12.5vw;
		text-shadow: 0.45vw 0.45vw #181818, 0.55vw 0.55vw #E1E1E1;
		font-weight: 500;	
		line-height: 12vw;
	}

	#content p{
		color: #E1E1E1;
		font-family: ArmaliteRifle;

		font-size: 4vw;
		margin-top: 50px;

		font-size:3.5vw;
		margin-top: 20px;
		margin-bottom: 30px;
	}

/* Inherited from main.css */
.social-media{
	font-size 		: 4vw;
	margin-right 	: 5vw;
	width 			: 5vw;	
	height 			: 5vw;
	padding-top 	: 0vw;

	transition 		: background-color 0.5s ease-in;	
	transition 		: border-color 0.5s ease-in;	
}





