* {
	margin 					:0;
	padding 				:0;	
	vertical-align 			:baseline;
}

html{
	width 					: 100%;
	height 					: 100%;
}

img{
	border-style 			: none;
}

body{	
	background-image 		: url(../img/zwartevilt.png);		
	width 					: 100%;	
	height 					: 100%;
}

footer{
	height 					: 250px;	
	width 					: 100%;
	position 				: absolute;
	bottom 					: 0;		
	background-color 		: rgba(0,0,0,0.152) ;	
}
.centered{
	margin 					: 0 auto;	
}

.text-centered{
	text-align 				: center;
}

.menu-item{
	background-color 		: #181818;
	border 					: solid 0.15vw #181818;
	box-shadow 				: 0px 0px 5px #000;	
	display 				: inline-block;
	height 					: 2.5vw;
	width 					: 22%;
	text-decoration 		: none;
	text-align 				: center;
	margin-top 				: 2%;

	padding-top 			: 1%;
	font-family 			: ArmaliteRifle;
	font-size 				: 2vw;
	color 				  	: #E1E1E1;

	transition 				: background-color 0.6s ease-in;
	transition				: border-color 	   0.5s ease-in;	
}

	.menu-item:hover{
		background-color 	: #C92D2D;
		border-color 		: #C92D2D;  
		box-shadow 			: 0px 0px 5px #C92D2D;	
		color 				: #181818;
	}

	.menu-item a{
		text-decoration 	: none;
		color 				: inherit;
		display 			: block;
	}


.social-media-menu{	
	list-style 				: none;	
	text-align 				: center;	
	margin-bottom 			: 50px;
	margin-top 				: 30px;		
}

.social-media{
	text-decoration 		: none;
	color 					: #E1E1E1;		
	font-weight 			: bold;
	display 				: inline-block;
	margin-right 			: 5vw;
	background-color 		: #181818;
	width 					: 60px;	
	height 					: 60px;	
	border-radius 			: 50px;
	border 					: solid 0.2vw #151515;
	box-shadow 				: 0px 0px 15px #181818;	
	transition 				: background-color 0.5s ease-in;	
	transition 				: border-color 0.5s ease-in;	
}

	.social-media:hover{
		border-color 			: #C92D2D;
		box-shadow 				: 0px 0px 15px #C92D2D;
		background-color 		: #C92D2D;
		color 					: #181818;
	}

	.social-media a{
		font-size 				: 47px;
		font-family 			: Andada;
		text-decoration 		: none;		
		color 					: inherit;
		display 				: block;
	}

#master-container{		
	width 					: 100%;
	min-height 				: 100%;
	height 					: auto;		
	position 				: relative;					
}

#content{
	padding-bottom 			: 300px;
	width 					: 95%;
	margin-left 			: 2.5%;	
}

#bottom-menu{	
	background-image 		: url(../img/zwartevilt.png);

	height 					: 6.5vw;
	position 				: fixed;
	width 					: 100%;
	bottom 					: 0px;
	z-index					: 1;

	border-top 				: solid 1px #E1E1E1;

	outline-style  			: dashed;
	outline-width  			: 2px;
	outline-color  			: #E1E1E1;
	outline-offset 			: 3px;	
}

#menu{
	float 					: right;	
	display 				: inline-block;
	list-style-type			: none;
	float 					: left;
	margin-left 			: 10px;
	height 					: 32px;
	width 					: 48%;
}


