header {
  grid-column-start: 1;
  grid-column-end: 100;
  grid-row-start: 1;
  grid-row-end: 10;
  background-color: red;
}

header h1 {
  grid-row-start: 20;
  grid-column-start: 40;
  grid-column-end: 100;
}

.is-grid-vertical-centered {
  grid-row-start: 35;
  grid-row-end: 100;
}

.is-grid-full-horizontal {
  grid-column-start: 1;
  grid-column-end: 100;
}

.is-background-video video {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
 -moz-transform: translateX(-50%) translateY(-50%);
 -webkit-transform: translateX(-50%) translateY(-50%);
 transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}
