@font-face{
	font-family: ArmaliteRifle;
	src: url(armalite.ttf);
}

*{
	margin:0;
	padding:0;
}

body{
	background-color: #181818;
}

	header{
		height:auto;
	}



		

#cabecalho{
	color:#E8E8E8;
}	