@font-face
	{
		font-family: ArmaliteRifle;
		src: url(armalite.ttf);
	}

		*{
			margin:0;
			padding:0;
		}

		body{
			background-color: #181818;
		}
		

		#menu ul li{display: inline;}

		#menu ul{
			padding 	: 0;
			margin  	: 0;
			list-style  : none;
			text-align: center;
		}

		#menu  li {
			border-top: solid 2px #C92D2D;
			margin-right: 10px;
			padding-top: 10px;
			color: #C92D2D;
			font-weight: bold;
			height: 35px;		 
			transition: background-color 0.6s ease-out;
		}

		#menu li:hover{
			background-color  : #C92D2D;			
			color 			  : #181818;
	

		}

		#menu ul li{				
			display: inline-block;							
		}	

		#menu li > a{
			padding: 10px 25px;			
			height:40px;		
			text-decoration: none;
			color:#C92D2D;
			font-family: "ArmaliteRifle";
			font-size: 1.5em;
			background-color: blue;
		}

		#menu li > a:hover{
			color:#212121;
		}

		#title-container{
			width:550px;			
			margin:0 auto;
			
		}

		#ytt{
			color: #C92D2D;
			text-align: center;
			font-family: "ArmaliteRifle";
			font-size: 10em;			
			width:100%;
			
		}